{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mayes Family Cookbook</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>


<body style="background-color: rgba(79,111,96,0.3)">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/mfcLogo_resized.png' %}" alt="Mayes Family Cookbook logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                    <a class="nav-link" href="{% url 'recipes' %}">Recipes</a>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}"> Login </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- svg for bootstrap v5 alert icons -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <!-- triangle exclamation icon -->
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    <!-- add block content from html template -->
    {% block content %}

    {% endblock %}
</body>

</html>