<!-- inherit from base.html-->
{% extends "recipe_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div id="indexBody" class="container-fluid text-center">
    <hr id="hzIndex">
    <h1 id="indexH1">Mayes Family Cookbook</h1>
    <hr id="hzIndex">
    <p id="indexOverview">
        Welcome to the Mayes Family Cookbook! 
        <br>
        <p>Can't figure out what to have for dinner? <br>
            Look on the "Recipes" tab for ideas or to add your own!</p>

    </p>
</div>


{% endblock %}
