{% extends 'recipe_app/base_template.html' %}

{% block content %}

<h1>Recipe Cards</h1>

<!-- add button to create recipe -->
<a class="btn btn-primary" href="{% url 'create_recipe' %}" role="button"> New Recipe </a>

<!-- if recipe list exists -->
{% if recipe_list %}
<ul>
    <!-- for each recipe in the list -->
    {% for recipe in recipe_list %}
    <li>
        <!-- create list item for each recipe -->
        {{ recipe.title }}
        <a class="btn btn-primary" href="{{ recipe.get_absolute_url }}" role="button"> View Recipe </a>
        <a class="btn btn-danger" href="{% url 'delete_recipe' recipe.pk %}" role="button"> Delete </a>
        <a class="btn btn-warning" href="{% url 'update_recipe' recipe.pk %}" role="button"> Update </a>

    </li>
    {% endfor %}
</ul>
<!-- if no recipe list exists, give msg -->
{% else %}
<p> There are no recipes in the cookbook. </p>

{% endif %}
{% endblock %}