<!-- inherit from base_template.html-->
{% extends "recipe_app/base_template.html" %}

{% block content %}
    <!-- display successful pw change message      alighn items center-->
    <div id="logout_success" class="alert alert-success d-flex justify-content-center" role="alert">
        <h1 class="alert-heading"> Your password has been successfully changed! </h1>
        <br>
       
    </div>
    
    <p class="position-relative d-flex justify-content-center"><a href="{% url 'login' %}"> Log in </a></p> 
           
{% endblock %}

