<!-- inherit from base_template.html-->
{% extends "recipe_app/base_template.html" %}

{% block content %}
    <!-- create pw reset form -->
    <div class="position-relative">
        <h1 class="position-absolute top-0 start-50 translate-middle"> Request password reset link </h1>
    </div>
    <br>
    <br>
    <div>
        <p class="position-absolute align-self-center"> Enter an email to send password reset link to: </p>
        <br>

        <form action="" method="POST">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            
            <p title="email"> {{ form.email }} </p>
            <input type="submit" title="submitEmail" name="submitEmail" id="submitEmail" value="Submit Email">
        </form>
    </div>



{% endblock %}