<!-- inherit from base_template.html -->
{% extends "recipe_app/base_template.html" %}

{% block content %}
    <!-- create form for user registration -->
    <form method="POST">
        {% csrf_token %}

        <!-- render the form fields -->
        {{ form.username.label }}
        {{ form.username }}
        <br>
        {{ form.email.label }}
        {{ form.email }}
        <br>
        {{ form.password1.label }}
        {{ form.password1 }}
        <br>
        {{ form.password2.label }}
        {{ form.password2 }}
        <br>
        <input type="submit" name="Create User" value="Create User">

    </form>

    {{ form.errors }}

{% endblock %}